<div class="post-meta">
{{ $data := .File.BaseFileName }}
{{ with index .Site.Data.dkm $data }}
   {{T "author" }} {{ .author }}</br> 
   v. {{ .version }} - api {{ .apiVersion }}</br>
   {{ T "status" }} {{ T .status }} </br>
   {{T "license"}} 
   {{ if (lt .financed .cost) }}
      <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC by-nc-nd</a>
   {{ else }}
      <a href="https://www.gnu.org/licenses/lgpl-3.0.html#license-text">LGPL</a>
   {{ end }}</br>
   {{ T "source" }} <a href="https://framagit.org/istoa/dkm/-/blob/main/src/{{ .source }}">{{ .source }}</a></br>
   {{ T "development_cost" }} {{ .cost }} €</br>
   {{ T "funded_cost" }} {{ .financed }} €
{{end}}

</div>
