<div class="post-meta">
  v. {{ .Params.Version }} - api {{ .Params.ApiVersion }}</br>
 {{ T "status" }} {{ T .Params.status }} </br>
 {{T "license"}} 
 {{ if (lt .Params.Financed .Params.Cost) }}
 <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC by-nc-nd</a>
 {{ else }}
 <a href="https://www.gnu.org/licenses/lgpl-3.0.html#license-text">LGPL</a>
 {{ end }}</br>
 {{ T "source" }} <a href="{{ .Params.source }}">{{ .Params.source }}</a></br>
 {{ T "development_cost" }} {{ .Params.Cost }} €</br>
 {{ T "funded_cost" }} {{ .Params.Financed }} €
</div>
